.product-items.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: calc(50% - 8px);
    box-sizing: border-box;
    margin: 8px 0;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: black;

    @media (min-width: 768px) {
        width: calc(33% - 8px);
    }
    @media (min-width: 1024px) {
        width: calc(25% - 8px);
    }

    .product-media {
        width: 100%;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .product-info {
        padding: 8px;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        .name {
            font-weight: bold;
            margin-bottom: 4px;
        }

        .sku {
            color: #bbb;
        }
    }

    .product-stock {
        margin-bottom: 16px;

        > span {
            display: flex;
            align-items: center;
            font-weight: 600;

            .icon {
                margin-right: 4px;
            }
        }

        .available {
            color: green;
        }

        .unavailable {
            color: red;
        }
    }

    .product-actions {
        .to-cart {
            width: 100%;
            margin-bottom: 8px;
        }
    }
}
